@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}

@layer utilities {
  .minecraft-border {
    border: 2px solid #55FF55;
    box-shadow: 0 0 10px rgba(85, 255, 85, 0.3);
  }
  
  .minecraft-button {
    @apply bg-minecraft-green text-black font-bold py-3 px-6 hover:bg-green-400 transition-colors;
  }

  .preview-bg {
    background: linear-gradient(45deg,rgba(0,0,0,.098) 25%,transparent 0,transparent 75%,rgba(0,0,0,.098) 0,rgba(0,0,0,.098) 0),linear-gradient(45deg,rgba(0,0,0,.098) 25%,transparent 0,transparent 75%,rgba(0,0,0,.098) 0,rgba(0,0,0,.098) 0),#1e1e1e;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
}
